:root{
  --primary-theme-color: #D1F250;
  --secondary-theme-color: #1B2E32;
  /*--primary-theme-color: #1D232A;*/
  --white-theme-color: #1B2E32;
  /*--white-theme-color: #fff;*/
  --secondary-rgb-theme-color:27, 46, 50;
}
