/*

Template: Sofbox - Angular 8 Software landing page
Author: iqonic.design
Version: 1.0
Design and Developed by: iqonic.design

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/

.far, .fas{
    font-weight: 900 !important;
}

.fab {
    font-weight: 900 !important;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.fab:hover {
    color: var(--primary-theme-color);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.fab.fab-team{
    color: #ffffff;
}

.fab.fab-team:hover
{
    color: #ffffff;
}
  
